.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  background-color: #c5eba2 !important;
  color: #000 !important; /* Make the text black */

  display: flex;
  flex-direction: column;
  justify-content: center; /* Center everything horizontally and vertically */
  align-items: center; /* Center everything horizontally and vertically */
  min-height: 100vh; /* Set the page height */
  gap: 32px; /* Adjust the space between elements */
  font-family: var(--font-geist-sans);
  padding: 0 20px; /* Soften the page edges */
  overflow-x: hidden; /* Disable horizontal scrollbar */
}

/* Mobile-friendly, for better appearance on smaller screens */
@media (max-width: 600px) {
  .page {
    padding: 32px;
    gap: 16px;
  }
}

.logoWrapper {
  animation: spin 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2cm; /* Set the space between the logo and text.png to 2cm */
}

.logo {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ctas {
  display: flex;
  gap: 16px;
  justify-content: center; /* Center the buttons */
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.loginWrapper {
  width: 550px; 
  height: 100vh;
  background: #A0BF84;
  padding: 20px;
  position: absolute;
  left: 50; 
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginHeader{
  padding-top: 20px;
  padding-left: 600px;
  padding-right: 600px;
}

.registrationWrapper {
  width: 550px; 
  height: 100vh;
  background: #A0BF84;
  padding: 20px;
  position: absolute;
  right: 50; 
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphWindowWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dummyNoteForm {
  width: 550px; 
  height: 100vh;
  align-items: center;
  justify-content: center;
}